<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
    window.images = {
        logo: "<%=image_url('etsy_image_profile.png')%>",
        usFlag: "<%=image_url('usa-icon.png')%>",
        color_yellow: "<%=image_url('etsy_yellow.jpg')%>",
        color_orange: "<%=image_url('etsy_dark_orange.jpg')%>",
        color_blue: "<%=image_url('etsy_blue.jpg')%>",
        clothingImage: "<%=image_url('clothings.jpg')%>",
        flowerImage: "<%=image_url('flowers.jpg')%>",
        homelivingImage: "<%=image_url('homeliving.jpg')%>",
        jewelryImage: "<%=image_url('jewelry.jpg')%>",
        photographImage: "<%=image_url('photograph.jpg')%>",
    }
</script>

<main id="root"></main>
