<!DOCTYPE html>
<html>
  <head>
    <title>Etzieees</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('etsy.png') %>
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" /> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <%-# <script src='https://kit.fontawesome.com/a076d05399.js'></script> -%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    

    <meta property='og:title' content='Etzieees'/>
    <meta property='og:image' content="<%= image_url('https://etzieees.herokuapp.com/assets/etzieees_homepage-77efde7c3fc0d4def6e390bc43fc3cdb30949f776b4dd71aedf60fcaf608aa4d.png') %>"/>
    <meta property='og:description' content='e-commerce website'/>
    <meta property='og:url' content='https://etzieees.herokuapp.com/' />
  </head>

  <body>
    <%= yield %>
  </body>
  
</html>
